body{
    margin: 0;
    padding: 0;
    background-color: indianred;
}
#dvjogo{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute; 
	left: 850px; 
	top: 180px; 
}

.titulo{
    position: absolute;
    left: 850px;
}

#dvmenu{
   position: absolute; 
   left: 850px;
   top: 500px;
}

.posJogo{
    width: 90px;
    height: 90px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.botao{
    width:300px;
	height:90px;
	background-color:#6495ed;
	border-radius: 10px 20px 30px;
}

#p1{
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;

}

#p2{
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#p3{
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

#p4{
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#p5{
    border: 2px solid #000;
}

#p6{
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#p7{
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}

#p8{
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}

#p9{
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}


